/* Reset */
body{
    padding: 0; /*resetando configurações*/
    margin: 0; /*resetando configurações*/
    color: #353839; /*cor do texto*/
    text-transform: uppercase; /*font capslock*/
    text-align: center; /*alinhamento*/
}
/* Container feral */
.container{
    display: grid;
    height: 100vh;
    overflow-y: hidden;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 1.5fr 1.5fr 0.7fr;
    grid-template-areas: 
    "header header header header"
    "main main main sidebar"
    "content1 content2 content3 sidebar"
    "footer footer footer footer";
    gap: 0.6%;
}
/* header */
header {
    background: #a7ffeb;
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header img {
    margin-left: 50px;
}
nav{
    margin-right: 50px;
}
nav a{
    margin: 0 30px;
    text-decoration: none;
    font-size: 21px;
    font-weight: bolder;
    color: black;
}
/* Main */
main{
    background: #84ffff;
    grid-area: main;
}
/* Sidebar */
#sidebar{
    
}
